$enable-rounded:            false !default

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1020px,
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 996px,
) !default;

$grid-gutter-width: 1rem !default;
$font-family-sans-serif: Arial;
$line-height-base: 1.25 !default;
$headings-font-weight:   bold !default;
$small-font-size: 87.5% !default;
$input-btn-padding-y-sm:    .1rem !default;
$input-btn-padding-x-sm:    .1rem !default;