$enable-rounded:            false;

$grid-gutter-width:         1rem;
$font-family-sans-serif:    Arial;
$line-height-base:          1.25;
$headings-font-weight:      bold;
$small-font-size:           87.5%;
$input-btn-padding-y-sm:    .1rem;
$input-btn-padding-x-sm:    .1rem;

$grid-breakpoints:          (xs: 0, sm: 576px, md: 768px, lg: 1020px);
$container-max-widths:      (sm: 540px, md: 720px, lg: 996px);