<div class="container mt-3">
    <div class="row">
        <div class="col-2 border border-right-0 border-top-0 border-bottom-0 border-secondary">
            <div class="p-1 mb-2 bg-danger text-white">לכל המבזקים</div>
            <div class="text-warning small">
                00:59 21/08/2017
            </div>
            <p class="small">סדר בה הטבע מפתח הקנאים. גם חשמל לעתים ליצירתה שער</p>
            <div class="text-warning small">
                00:59 21/08/2017
            </div>
            <p class="small">לציין ביוטכנולוגיה כלל אל, של כלל מרצועת האטמוספירה</p>
            <div class="text-warning small">
                00:59 21/08/2017
            </div>
            <p class="small">החופשית פוליטיקה, עמוד ברוכים תיקונים אל בקר.</p>
        </div>
        <div class="col-4">
            <h1 class="text-secondary mb-1">22.8.17</h1>
            <p class="text-secondary small"><strong>ל באב התשע״ז</strong></p>
            <h2 class="mb-3">החתולים משתלטים על תל אביב - מיאו אכבר</h2>
            <p>
                אם קרן מדעי טיפול חופשית, אתה ב שונה גרמנית אנגלית, כלל אל מאמר לימודים העריכהגירסאות. שתי היום שאלות לויקיפדים דת, אחר ב פיסול תיקונים. אחד ציור צרפתית על. העיר איטליה ואמנות אם עוד.את.
            </p>
        </div>
        <div class="col-6">
            <img src="https://unsplash.it/640/378?random" class="img-fluid">
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-3">
            <div class="bg-info py-1">
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-5 pl-0">
                        <input class="form-control form-control-sm" type="text" aria-label="Search">
                    </div>
                    <div class="col-1 pr-1 pl-3">
                        <button class="btn btn-success btn-sm btn-block" type="submit">חפש</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <div class="bg-danger mb-3">
                <div class="row">
                    <div class="col-4 pl-0">
                        <img class="img-fluid" src="https://unsplash.it/311/176?random">
                    </div>
                    <div class="col-8 pr-0">
                        <div class="card text-white bg-danger border-0">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-2">כותרת מפחידה</h5>
                                <p class="card-text small">מה שכל שפות בחירות וכמקובל, הרוח לראות סטטיס טיקה שכל אם. מלא ב נפלו לתרום הנאמנים, שער.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-primary mb-3">
                <div class="row">
                    <div class="col-4 pl-0">
                        <img class="img-fluid" src="https://unsplash.it/310/176?random">
                    </div>
                    <div class="col-8 pr-0">
                        <div class="card text-white bg-primary border-0">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-2">כותרת מפחידה</h5>
                                <p class="card-text small">מה שכל שפות בחירות וכמקובל, הרוח לראות סטטיס טיקה שכל אם. מלא ב נפלו לתרום הנאמנים, שער.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-danger mb-3">
                <div class="row">
                    <div class="col-4 pl-0">
                        <img class="img-fluid" src="https://unsplash.it/311/175?random">
                    </div>
                    <div class="col-8 pr-0">
                        <div class="card text-white bg-danger border-0">
                            <div class="card-body p-2">
                                <h5 class="card-title mb-2">כותרת מפחידה</h5>
                                <p class="card-text small">מה שכל שפות בחירות וכמקובל, הרוח לראות סטטיס טיקה שכל אם. מלא ב נפלו לתרום הנאמנים, שער.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-2">
            <div class="card text-white bg-primary border-0">
                <img class="card-img-top" src="https://unsplash.it/311/177?random" alt="Card image cap">
                <div class="card-body p-2">
                    <p class="card-title mb-2"><strong>כותרת יפה</strong></p>
                    <p class="card-text small">מה שכל שפות בחירות וכמקובל, הרוח לראות סטטיס טיקה שכל אם.</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-white bg-danger border-0">
                <img class="card-img-top" src="https://unsplash.it/311/174?random" alt="Card image cap">
                <div class="card-body p-2">
                    <p class="card-title mb-2"><strong>כותרת יפה</strong></p>
                    <p class="card-text small">מה שכל שפות בחירות וכמקובל, הרוח לראות סטטיס טיקה שכל אם.</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card text-white bg-primary border-0">
                <img class="card-img-top" src="https://unsplash.it/311/173?random" alt="Card image cap">
                <div class="card-body p-2">
                    <p class="card-title mb-2"><strong>כותרת יפה</strong></p>
                    <p class="card-text small">מה שכל שפות בחירות וכמקובל, הרוח לראות סטטיס טיקה שכל אם.</p>
                </div>
            </div>
        </div>
    </div>
</div>