<div class="container">
    <div class="row">
        <div class="col-6">
            Col 6 Main Picture
        </div>
        <div class="col-4">
            Col 4 Main Story
        </div>
        <div class="col-2">
            Col 2 Breaking News
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Col 12 navbar
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Col 6 SubMain
        </div>
        <div class="col-6">
            Col 6 Ads
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            Col 2 SubSubMain
        </div>
        <div class="col-2">
            Col 2 SubSubMain
        </div>
        <div class="col-2">
            Col 2 SubSubMain
        </div>
        <div class="col-6">
            Col 6 Ads
        </div>
    </div>

</div>